In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1568,tt0368891,100000000,347451894,National Treasure,Nicolas Cage|Diane Kruger|Justin Bartha|Sean B...,Jon Turteltaub,The greatest adventure history has ever revealed.,"Modern treasure hunters, led by archaeologist ...",131,Adventure|Action|Thriller|Mystery,Walt Disney Pictures|Jerry Bruckheimer Films|S...,11/19/2004,6.4,2004
1727,tt0465602,39000000,26820641,Shoot 'Em Up,Clive Owen|Monica Bellucci|Paul Giamatti|Steph...,Michael Davis,Just another family man making a living.,A man named Mr. Smith delivers a woman's baby ...,86,Action|Thriller|Comedy|Crime,New Line Cinema|Angry Films,7/26/2007,6.2,2007
1601,tt0346491,155000000,167298192,Alexander,Colin Farrell|Angelina Jolie|Val Kilmer|Jared ...,Oliver Stone,The greatest legend of all was real.,"Alexander, the King of Macedonia, leads his le...",175,War|History|Action|Adventure|Drama,France 3 CinÃ©ma|Intermedia Films|PathÃ© Renn ...,11/21/2004,5.6,2004
712,tt0490181,8000000,2033165,Mutant Chronicles,Ron Perlman|Thomas Jane|Devon Aoki|Sean Pertwe...,Simon Hunter,Welcome to the 23rd century. The new dark ages.,It's the year 2707. Earth's natural resources ...,111,Action|Adventure|Horror|Science Fiction,Isle of Man Film|Edward R. Pressman Film|Parad...,8/7/2008,5.1,2008
530,tt0271027,25000000,64437847,Kiss of the Dragon,Jet Li|Bridget Fonda|TchÃ©ky Karyo|Max Ryan|Ri...,Chris Nahon,Kiss Fear Goodbye,"Liu Jian, an elite Chinese police officer, com...",98,Action|Crime|Thriller,Twentieth Century Fox Film Corporation|Current...,7/6/2001,6.3,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# Создаем новое поле Прибыль
data['profit'] = data.revenue - data.budget
# Поле со списком режиссеров
data['directors_list'] = data.director.str.split('|')

data['actors_list'] = data.cast.str.split('|')

data['genres_list'] = data.genres.str.split('|')

data['production_companies_list'] = data.production_companies.str.split('|') 

data.release_date = data.release_date.apply(lambda x: datetime.datetime.strptime(x, '%m/%d/%Y'))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,directors_list,actors_list,genres_list,production_companies_list
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,[Rob Marshall],"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films..."

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,directors_list,actors_list,genres_list,production_companies_list
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,[Ronald F. Maxwell],"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...","[Drama, History, War]","[Turner Pictures, Antietam Filmworks]"

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,directors_list,actors_list,genres_list,production_companies_list
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,"[Stephen Anderson, Don Hall]","[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S..."

In [11]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [12]:
round(data.runtime.mean())

110

In [13]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [14]:
data.runtime.median()

107.0

In [15]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,directors_list,actors_list,genres_list,production_companies_list
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo..."

In [17]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [18]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,directors_list,actors_list,genres_list,production_companies_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films..."

In [19]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
data[data.profit > 0].imdb_id.count()

1478

In [21]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.revenue == data_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,directors_list,actors_list,genres_list,production_companies_list
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,[Christopher Nolan],"[Christian Bale, Michael Caine, Heath Ledger, ...","[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ..."

In [23]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
data_12_14 = data[(data.release_year >= 2012)&(data.release_year <= 2014)]
data_12_14[data_12_14.profit == data_12_14.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,directors_list,actors_list,genres_list,production_companies_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films..."

In [25]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data.explode('genres_list').genres_list.value_counts().index[0]

'Drama'

In [27]:
answers['11'] = 'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
res = data[data.profit>0].explode('genres_list').genres_list.value_counts()
res.index[0]

'Drama'

In [29]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [30]:
dir_rev = data.groupby(['director'])['revenue'].sum()
res = dir_rev.sort_values(ascending = False)
res.index[0]

'Peter Jackson'

In [31]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
data_actions = data[(data.genres.str.contains('Action', na=False))][['directors_list']]

In [33]:
data_actions.explode('directors_list').directors_list.value_counts().index[0]

'Robert Rodriguez'

In [34]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
data_2012 = data[(data.release_year == 2012)]

In [36]:
data_2012_2 = data_2012.explode('actors_list')

In [37]:
data_2012_2.groupby(['actors_list'])['revenue'].sum().sort_values(ascending = False).index[0]

'Chris Hemsworth'

In [38]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
data_high_budget = data[data.budget > data.budget.mean()]

In [40]:
data_high_budget_2 = data_high_budget.explode('actors_list')

In [41]:
data_high_budget_2.actors_list.value_counts().index[0]

'Matt Damon'

In [42]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [43]:
data_NC = data[data.cast.str.contains('Nicolas Cage')]

In [44]:
data_NC_2 = data_NC.explode('genres_list')

In [45]:
data_NC_2.genres_list.value_counts().index[0]

'Action'

In [46]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [47]:
data_PP = data[data.production_companies.str.contains('Paramount Pictures')]

In [48]:
data_PP[data_PP.profit == data_PP.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,directors_list,actors_list,genres_list,production_companies_list
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,[Kathryn Bigelow],"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...","[Thriller, Drama, History]","[Paramount Pictures, Intermedia Films, Nationa..."

In [49]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [50]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [51]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [52]:
data_WB = data[data.production_companies.str.contains('Warner Bros')]

In [53]:
data_WB.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).index[0]

2014

In [54]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [55]:
data['release_month'] = data['release_date'].dt.month

In [56]:
data.groupby(['release_month'])['imdb_id'].count().sort_values(ascending = False).index[0]

9

In [57]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [58]:
data_summer = data[(data.release_month == 6)|(data.release_month == 7)|(data.release_month == 8)]

In [59]:
data_summer['imdb_id'].count()

450

In [60]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [61]:
data_winter = data[(data.release_month == 12)|(data.release_month == 1)|(data.release_month == 2)]

In [62]:
data_winter = data_winter.explode('directors_list')

In [63]:
answers['23'] = data_winter.groupby(['directors_list'])['imdb_id'].count().sort_values(ascending = False).index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [138]:
data_long_titles = data.explode('production_companies_list')

In [139]:
data_long_titles['titles_len'] = data_long_titles.original_title.str.len()

In [141]:
data_long_titles.groupby('production_companies_list').titles_len.mean().sort_values(ascending = False).index[0]

'Four By Two Productions'

In [142]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [69]:
data_long_overview = data.explode('production_companies_list')

In [135]:
data_long_overview['overview_len'] = data_long_overview.overview.str.split().str.len()

In [136]:
data_long_overview.groupby('production_companies_list').overview_len.mean().sort_values(ascending = False)

production_companies_list
Midnight Picture Show                         175.0
GreeneStreet Films                            175.0
Flynn Picture Company                         169.0
Room 9 Entertainment                          161.0
Heineken Branded Entertainment                159.0
                                              ...
Ascendant Pictures                             53.0
Mystery Clock Cinema                           53.0
N1 European Film Produktions GmbH & Co. KG     53.0
Management 360                                 53.0
Donners' Company                               53.0
Name: overview_len, Length: 1033, dtype: float64

In [137]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [72]:
data.sort_values('vote_average', ascending = False).head(int(len(data)*0.01))[['original_title', 'vote_average']]

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

In [73]:
answers['26']='Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [91]:
from itertools import combinations

In [75]:
data2 = data[['imdb_id', 'original_title', 'cast']]

In [76]:
data2

,imdb_id,original_title,cast
0,tt0369610,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
1,tt1392190,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...
2,tt2908446,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...
3,tt2488496,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
4,tt2820852,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...
...,...,...,...
1884,tt0120903,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...
1885,tt0192255,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...
1886,tt0131704,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...
1887,tt0162983,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...
1888,tt0163676,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...

In [122]:
for index, row in data2.iterrows():
    row['cast2'] = ['&'.join(i) for i in combinations(row['cast'].split('|'), 2)]

In [124]:
data2 = data2.explode('cast2')

In [129]:
data2.groupby('cast2').imdb_id.count().sort_values(ascending = False)

cast2
Daniel Radcliffe&Emma Watson             8
Daniel Radcliffe&Rupert Grint            8
Rupert Grint&Emma Watson                 7
Ben Stiller&Owen Wilson                  6
Johnny Depp&Helena Bonham Carter         6
                                        ..
Matthew McConaughey&Rene Russo           1
Matthew McConaughey&Reese Witherspoon    1
Matthew McConaughey&Powers Boothe        1
Matthew McConaughey&PenÃ©lope Cruz       1
50 Cent&Adewale Akinnuoye-Agbaje         1
Name: imdb_id, Length: 18121, dtype: int64

In [130]:
answers['27'] = 'Daniel Radcliffe&Rupert Grint'

In [114]:
a = combinations('Chris Pratt|Bryce Dallas Howard|Irrfan Khan'.split('|'), 2)

In [117]:
y

['Chris Pratt,Bryce Dallas Howard',
 'Chris Pratt,Irrfan Khan',
 'Bryce Dallas Howard,Irrfan Khan']

In [116]:
y = [''.join(i) for i in a]

# Submission

In [143]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe&Rupert Grint'}

In [144]:
# и убедиться что ни чего не пропустил)
len(answers)

27